/Denguenator.iml
/out/*
/.idea/*

/images/*
/Data/*

/ANN/.RData
/ANN/.Rhistory
/ANN/.Rproj.user/*
/ANN/images/*
/ANN/data/*
/ANN/ANN area 55/*
/ANN/ANN area 55 - 2/*

/Deng/.RData
/Deng/.Rhistory
/Deng/.Rproj.user/*
/Deng/sirmodel.csv
.Rproj.user
/.Rhistory
/.RData
/.Rproj.user/*

/DenguenatorML.Rproj